yfinance
apache-airflow-providers-http
apache-airflow-providers-influxdb
apache-airflow-providers-postgres
apache-airflow-providers-celery
SQLAlchemy
openpyxl
xlrd
pandas
psycopg2-binary
dataframe-image
matplotlib
pandas_ta
numpy
statsmodels
pandas-datareader
datetime
scikit-learn
pyportfolioopt
kaleido
plotly
binance-futures-connector
apache-airflow[statsd]